.idea
.DS_Store
.vscode/
banners
imgs
*.sh
*.log
*/go/*
.htaccess
sitemap.xml
sitemap.xml.gz

# Temporary ignore parent theme
/.htpasswd
/images
/temp
*.sql

# Node
logs
*.pid
*.seed
lib-cov
coverage
.grunt
.lock-wscript
build/Release
node_modules
npm-debug.log
.sass-cache
bower_components
license.txt
readme.html

nginx.conf
Nginx-1.12_vhost.conf

composer.lock
package-lock.json

/uploads/
/datastore/
/constants.php
/conf_global.php
