# ignore everything in the root except the "wp-content" directory.
!wp-content/

# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
wp-content/*
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/

# ignore these plugins
wp-content/plugins/hello.php

# ignore specific themes
wp-content/themes/twenty*/

# ignore node dependency directories
node_modules/
# Node
logs
*.pid
*.seed
lib-cov
coverage
.grunt
.lock-wscript
build/Release
node_modules
npm-debug.log
.sass-cache
bower_components
wp-content/themes/mrbet/grunt/source/*/lib/*
license.txt
readme.html
# ignore log files and databases
*.log
*.sql
*.sqlite

.htaccess
sitemap.xml
sitemap.xml.gz
wp-config.php
# Temporary ignore parent theme
/.htpasswd
/images
/temp
.idea
